body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
  }
  .navbar ul { 
    margin: 0; 
    padding: 12px; 
    list-style-type: none; 
    text-align: center; 
    background-color: #000; 
    } 
 
.navbar ul li {  
    display: inline; 
    } 
 
.navbar ul li a { 
  font-family: 'Century Gothic',sans-serif;
    text-decoration: none; 
    padding: .2em 1em; 
    color: #fff; 
    background-color: #000; 
    } 
 
.navbar ul li a:hover { 
  font-family: 'Century Gothic',sans-serif;
    color: #000; 
    background-color: #fff; 
    } 
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    border-radius: 20px;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }

 